@model CartViewModel
@{ 
    ViewData["Title"] = "Корзина";
}

    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Домой</a></li>
                <li class="active">Корзина</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Товар</td>
                        <td class="description">Описание</td>
                        <td class="price">Цена</td>
                        <td class="quantity">Количество</td>
                        <td class="total">Всего</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td class="cart_product">
                                <a href=""><img src="~/EshopTeamplate/images/shop/@item.productVM.ImageUrl" alt=""></a>
                            </td>
                            <td class="cart_description">
                                <h4><a asp-controller="Catalog" asp-action="Details" asp-route-id="@item.productVM.Id">@item.productVM.Name</a></h4>
                                <p>@item.productVM.Id.ToString("0000000")</p>
                            </td>
                            <td class="cart_price">
                                <p>@item.productVM.Price</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a 
                                       asp-controller="Cart" 
                                       asp-action="AddToCart" 
                                       asp-route-id="@item.productVM.Id"> + </a>
                                    <input class="cart_quantity_input" type="text" name="quantity" value="@item.Count" autocomplete="off" size="2">
                                    <a class="cart_quantity_down" 
                                       asp-controller="Cart" 
                                       asp-action="DecrementFromCart" 
                                       asp-route-id="@item.productVM.Id"> - </a>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">@((item.productVM.Price*item.Count).ToString())</p>
                            </td>
                            <td class="cart_delete">
                                <a  
                                   asp-controller="Cart" 
                                   asp-action="RemoveFromCart" 
                                   asp-route-id="@item.productVM.Id" 
                                   class="cart_quantity_delete"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    }                  
                </tbody>
            </table>
        </div>
    </div>