@model IEnumerable<Employee>
@{
    ViewBag.Title = "Employees";
}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Сотрудник</th>
                @if (User.IsInRole(Role.Administrator))
                {
                    <th></th>
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var empolyee in Model)
            {
            <tr>
                <th>@empolyee.Id</th>
                <td>
                    @empolyee.Email
                    <a asp-controller="Employee" asp-action="Details" asp-route-id="@empolyee.Id">Информация</a>
                    @if (User.IsInRole(Role.Administrator))
                    {
                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@empolyee.Id">Редактировать</a>
                        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@empolyee.Id">Удалить</a>
                    }
                </td>
                </tr>
            }
        </tbody>
    </table>
</div>